:root {
  --bg-color-posts: #FFFFFF;
  --border-color-posts: #DDD;
  --icon-theme-filter: invert(25%);
}

.dark {
  --bg-color-posts: #000000;
  --border-color-posts: #666;
  --icon-theme-filter: invert(85%);
}
